.single-product{

    margin-top: 70px;
}
  


.new-arrival{
    background: green;
    width: 50px;
    color: #fff;
    font-size: 12px;
    font-weight: 20px;

}

col-md-5{

    color: #555;
    


}