.hhh2{
    margin-top: -40px;
    border-top-left-radius : 25px ;
    border-top-right-radius: 25px;
    height: 400px auto;


}


.c2{
    margin-top: 100px;    width: 220px;
    height: auto;

}

.hhh1{
    border-radius: 25px ;
    height: 480px;


}


.c1{
    width: 220px auto;
    height: 280px ;


}




 /*                              here                        */


.title-box{
    background-color: orange;
    color: #fff;
    width: 285px;
    padding: 4px 10px;
    height: 50px;
    margin-bottom: 30px;
    display: flex;
    
    
}

.title-box h2{

    font-size: 24px;
    margin:10px ;
}

.title-box::after{
    content: '' ;
    
    border-top: 50px solid orange;
    border-right: 50px solid transparent;
    position: absolute;
    display: flex;
    
    margin-top: -4;
    margin-left: 275px ;
}


    /*                         there               */



@media screen and (min-width: 765px) {
    .c1 {
           height: 380px;
    }
  }


  @media screen and (min-width: 765px) {
    .card-img-top {
           height: 230px;
    }
  }




